name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - uses: pre-commit/action@v3.0.1
      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()

  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U pip pipx
          pipx install poetry==2.1.2
          poetry config virtualenvs.in-project true
          poetry install --all-extras
      - name: Mypy
        run: make mypy

  build-and-compare:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ "5.3.0", "5.7.2" ]
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Create venv
        run: |
          python -m venv .venv
          .venv/bin/python -m pip install --upgrade pip setuptools "pyavd[ansible]==${{ matrix.version }}"
          .venv/bin/python -m pip install . netaddr
      - name: Install ansible.utils
        run: .venv/bin/ansible-galaxy collection install ansible.utils
      - name: Build fabric
        run: |
          .venv/bin/pyavd-build -i tests/data/single-dc-l3ls-fabric/inventory.yml -o intended-single-dc-l3ls-fabric -f FABRIC -v
      - name: Store single-dc-l3ls-fabric intended configs
        uses: actions/upload-artifact@v6
        with:
          name: single-dc-l3ls-fabric configs pyavd@${{ matrix.version }}
          path: intended-single-dc-l3ls-fabric/
      - name: Compare with golden
        run: diff --color -ry --suppress-common-lines tests/data/single-dc-l3ls-fabric/intended-golden-${{ matrix.version }} intended-single-dc-l3ls-fabric
